.creation > form{
    width: 70%;
    margin-top: 30px;
}
.creation > form > div{
    margin: 50px 0;
}
.creation > form input[name=idea]{
    all: unset;
    font-size: xx-large;
    padding: 10px 20px;
    border-bottom: solid thin #37C56E;
    width: 100%;
    box-sizing: border-box;
}
.creation > form input[name=headline]{
    padding: 10px 20px;
    border: solid thin #37C56E;
}
.creation > form textarea{
    all: unset;
    border: solid thin #37C56E;
    min-height: 300px;
    border-radius: 10px;
    padding: 20px;
}
.creation >form .label{
    font-size: x-large;
    font-weight: bold;
    margin-bottom: 30px;
}
.creation >form .label span{
    font-size: small;
    font-weight: normal;
}
.creation > form .member{
    border: solid thin #BCBCBC;
    padding: 5px 20px;
    border-radius: 5px;
}
.creation > form .member> div{
    margin-left: 20px;
    gap: 10px;
    font-weight: bold;
    font-size: large;
}
.creation > form #green{
    color: #37C56E;
}
.creation > form .member-wrapper{
    gap: 10px;
}
.creation > form .btn-group{
    width: 100%;
    gap: 20px;
    justify-content: center;
}
.creation > form .btn-group :is(button, input){
    font-size: large;
    padding: 10px 50px;
    font-weight: bold;
}
.creation .block-wrapper{
    margin-top: 30px;
    gap: 20px;
}
.creation .block-wrapper #del-btn{
    padding-left: 10px;
}