.detail .wrapper{
    align-items: flex-start;
    width: 80%;
    gap: 20px;
}
.detail .top-wrapper .btn-wrapper >span{
    font-weight: bold;
    padding: 0 20px;
    color: #37C56E;
}

.detail .content-wrapper{
    border-radius: 10px;
}
.detail .content-wrapper>.row-container:nth-child(1){
    border-bottom: solid thin #37C56E;
    padding: 0 20px;
    margin-top: 0;
}
.detail .content-wrapper>.row-container>.profile{
    flex: 1;
    justify-content: flex-end;
}
.detail .content-wrapper>.content{
    padding: 20px;
    min-height: 300px;
}
.detail .content-wrapper textarea{
    all: unset;
    flex: 1;
    font-size: small;
    padding: 10px 20px;
    overflow: hidden;
    height: 20px;
}
.detail .content-wrapper input[type=submit]{
    padding: 5px 10px;
}
.detail .side .category-wrapper .interest-group  .grey-btn{
    font-size: x-small;
    display: inline-block;
    margin: 0 5px 5px 0; 
}