/*Register.js*/
.register{
  margin-bottom: 100px;
}
.register form{
  width: 50%;
  margin-top: 50px;
  gap: 30px;
}
.register .devider span{
  color: #37C56E;
  padding: 10px;
}
.register #point{
  color: #F55959;
  margin-right: 5px;
}
.register .wrapper{
  align-items: center;
  gap: 30px;
}
.register .wrapper>div{
  width: 65%;
}
.register form :is(input[type=text],input[type=password],input[type=url]){
  flex: 1;
}
.register form input[type=submit]{
  width: 50%;
  align-self: center;
  margin-top: 30px;
}
.register form .row-container #label{
  width: 150px;
}
.register form .row-container button{
  margin-left: 5px;
}
.register .wrapper .green-btn{
  font-size: small;
  padding: 5px 15px;
}
.select{
  display: flex;
  flex-direction: row;
  align-items: center;
}
.select select{
  appearance: none;
  padding: 5px 10px;
  padding-right: 40px;
  border: solid thin #BCBCBC;
  border-radius: 5px;
  min-width: 100px;
  color: #BCBCBC;
}
.select #sel-arrow img{
  width: 15px;
  transform: translate(-160%);
}
.select-wrapper{
  margin-top: 30px;
}
.register .block-wrapper{
  margin-top: 30px;
  gap: 20px;
}
.register .block-wrapper #del-btn{
  padding-left: 10px;
}